<main>
  <h1>Check a Porker Hand</h1>
  <%= form_tag("/home/check") do %>
<!--      <textarea name="content" ><%#= @content %></textarea>-->
       <%= text_field_tag :content, "",value: @hand %>
       <%= submit_tag "check" %>
    <%=@result%>
    <% if @errors.present? %>
      <%@errors.flatten.each do|error| %>
        <h2><%= error %></h2>
      <% end %>
    <% end %>
  <% end %>
</main>